{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
    <h1>Mon panier</h1>

{% if items is empty %}
    <p>Votre panier est vide.</p>
{% else %}
    <ul>
        {% for item in items %}
            <li>
                <strong>{{ item.produit.nomProd }}</strong><br>

                {% if item.image %}
                    <img src="/assets/uploads/{{ item.image }}" width="100">
                {% endif %}

                <p>Prix: {{ item.produit.prix }} €</p>
                <p>Quantité: {{ item.qty }}</p>
                <p>Total: {{ item.total }} €</p>
            </li>
        {% endfor %}
    </ul>

    <h2>Total panier : {{ total }} €</h2>
{% endif %}

{% if items is not empty %}
<form action="{{ path('app_panier_finaliser') }}" method="post">
    <button type="submit">
        Finaliser la commande
    </button>
</form>
{% endif %}
{% endblock %}
