{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
        <h1><canvas class="stitch-title" data-text="3ONNEXION" data-size="1"></canvas></h1>
<div id="form-login">
    <form method="post">
        {% if error %}
            <div class="alert">
            <p>Identifiants invalides. Veuillez réessayer.</p>
            </div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <label for="username">Email</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
        <label for="password">Mot De Passe</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">


        <button class="btn btn-lg btn-primary" type="submit">
            Se connecter
        </button>
    </form>

    <img src="{{ asset('assets/uploads/tappetoFinale.png') }}" alt="tapis des feuilles" id="tappetoLeft">
    <img src="{{ asset('assets/uploads/tappetoFinale.png') }}" alt="tapis des feuilles" id="tappetoRight">
    </div>
{% endblock %}
