{% extends 'base.html.twig' %}

{% block title %}Sandraya
{% endblock %}

{% block body %}
	<h1>
		<canvas class="stitch-title" data-text="1CCUEIL"></canvas>
	</h1>
	<div class="carousel">
		<div class="contImage">
			<div class="exa">
				<img src="{{asset('assets/uploads/carosello.png')}}" alt="">
			</div>
			<div class="exa">
				<img src="{{asset('assets/uploads/strada.jpeg')}}" alt="">
			</div>
			<div class="exa">
				<img src="{{asset('assets/uploads/venditaCasa.jpeg')}}" alt="">
			</div>
			<div class="exa">
				<img src="{{asset('assets/uploads/mercatino.png')}}" alt="">
			</div>
		</div>
	</div>

	<h2>
		Collections
	</h2>
	<div class="exemple">
		{% for produit in produits %}
			<img src="{{ asset('assets/uploads/' ~ produit.produitsImages|first.image) }}">
		{% endfor %}
	</div>
{% endblock %}
