{% extends 'base.html.twig' %}

{% block title %}Hello ProduitsController!
{% endblock %}

{% block body %}
	<h1>Produits</h1>
	<div class="collection">
		<i class="fa-solid fa-chevron-left freccia3"></i>

		<div class="carte-container">
			<div class="carte">
				<div class="img">
					<img src="{{asset('assets/uploads/cornice-rune.png')}}" alt="" class="cornice"/><img src="{{asset('assets/uploads/examplepoint.png')}}" alt=""/>
				</div>
			</div>
			<div class="carte">
				<img src="{{asset('assets/uploads/cornice-rune.png')}}" alt="" class="cornice"/><img src="{{asset('assets/uploads/examplepoint.png')}}" alt=""/>
			</div>
			<div class="carte">
				<img src="{{asset('assets/uploads/cornice-rune.png')}}" alt="" class="cornice"/><img src="{{asset('assets/uploads/examplepoint.png')}}" alt=""/>
			</div>
			<div class="carte">
				<img src="{{asset('assets/uploads/cornice-rune.png')}}" alt="" class="cornice"/><img src="{{asset('assets/uploads/examplepoint.png')}}" alt=""/>
			</div>
			<div class="carte">
				<img src="{{asset('assets/uploads/cornice-rune.png')}}" alt="" class="cornice"/><img src="{{asset('assets/uploads/examplepoint.png')}}" alt=""/>
			</div>
			<div class="carte">
				<img src="{{asset('assets/uploads/cornice-rune.png')}}" alt="" class="cornice"/><img src="{{asset('assets/uploads/examplepoint.png')}}" alt=""/>
			</div>
			<div class="carte">
				<img src="{{asset('assets/uploads/cornice-rune.png')}}" alt="" class="cornice"/><img src="{{asset('assets/uploads/examplepoint.png')}}" alt=""/>
			</div>
		</div>

		<i class="fa-solid fa-chevron-right freccia4"></i>
	</div>
{% endblock %}
